/*===========================================================================*/
/* Generic */
ul
{
    list-style-type: none;
    text-align: left;
    float: left;
}

fieldset
{
    text-align: center;
    float:left;
    padding-left:6px;
    margin-bottom:6px;
    height: 60px
}

/*===========================================================================*/
/* Classes */
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.current-user {
    color: red;
}

.controls {
    position: fixed;
    top: 1%;
    min-height: 12%;
    width: 80%;
}

.whiteboard-container {
    margin: 12% 0 0 0;
}

.user-display {
    position: fixed;
    width: 20%;
    top: 1%;
    right: 0%;
}

/*===========================================================================*/
/* Ids */
#whiteboard {
    cursor: crosshair;
    border:2px solid;
}

#black {
    background: black;
}

#red {
    background: red;
}

#blue {
    background: blue;
}

#green {
    background: green;
}

#orange {
    background: orange;
}

#white {
    background: white;
}
